Brotli==1.0.9
cffi==1.15.0
click==8.1.3
colorama==0.4.4
cssselect2==0.6.0
dnslib==0.9.19
dnspython==2.2.1
Flask==2.1.2
Flask-WeasyPrint==0.6
fonttools==4.33.3
gunicorn==20.1.0
html5lib==1.1
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
nltk==3.7
Pillow==9.1.0
pycparser==2.21
pydyf==0.1.2
pymongo==3.12.3
pyphen==0.12.0
PythonDNS==0.1
regex==2022.4.24
six==1.16.0
tinycss2==1.1.1
tqdm==4.64.0
typing-extensions==4.2.0
weasyprint==54.3
webencodings==0.5.1
Werkzeug==2.1.2
zipp==3.8.0
zopfli==0.2.1
oauth2client
SpeechRecognition
passlib