{% extends "base.html" %}

{% block navbar %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
  <li><a href="{{url_for('dsignout')}}"><span class="glyphicon glyphicon-log-out"></span> Signout</a></li>
</ul>
{% endblock %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Create an Account</h1>

      <form action="{{url_for('signup')}}" method="post" name="signup_form" id = 'signup'>

        <label for="name">Name</label>
        <input type="text" name="name" class="field" required>

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">
      
      </form>
      
    </div>

    <div class="card">

      <h1 class="center">Log In</h1>

      <form action="{{url_for('login')}}" method="post" name="login_form" id = "login">

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Log In" class="btn">
      
      </form>
      
    </div>
  
  </div>
{% endblock %}