{% extends "base.html" %} {% block navbar %}
<ul class="nav navbar-nav navbar-right">
  <a class="nav-link" href="#"
    ><span class="glyphicon glyphicon-user"></span>Profile</a
  >
  <a class="nav-link" href="{{url_for('signout')}}"
    ><span class="glyphicon glyphicon-user"></span>Signout</a
  >
</ul>
{% endblock %} {% block content %}
<div class="card-wrapper">
  <div class="card">
    <!-- <h1 class="center">Dashboard</h1> -->
    <!-- <p class="center">You are currently logged in.</p> -->

    <!-- <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div> -->

    <h2>Available Doctors:</h2>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
        {%for doc in doctors:%}
        <tr>
          <th scope="row">1</th>
          <td>{{doc['name']}}</td>
          <td>{{doc['email']}}</td>
          <td>MBBS</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>

  <div class="card">
    <h2 class="center">Inform Doctors</h2>

    <h4 class="mt-5">Parameters:</h4>
    <p>
      <strong>Oxygen: </strong>93<br />
      <strong>BPM: </strong>75<br />
      <strong>Temperature: </strong>25<br />
      <strong>ECG: </strong>1500
    </p>
    <a class="center" href="{{url_for('symptoms')}}">Ask Advice</a>
  </div>
</div>
{% endblock %}
