{% extends "base.html" %} 
{% block navbar %}
<ul class="nav navbar-nav navbar-right">
  <a class="nav-link" href="#"
    ><span class="glyphicon glyphicon-user"></span>Profile</a
  >
  <a class="nav-link" href="{{url_for('signout')}}"
    ><span class="glyphicon glyphicon-user"></span>Signout</a
  >
</ul>
{% endblock %} {% block content %}

<div class="container">
  <p>
    <b><span class="font-weight-bold">Diagnosis:</span></b> </span><span contenteditable="true">{{pres['Diagnosis'][0].capitalize()[:-1]}}</span>
  </p>
  <p>
    <b><span class="font-weight-bold">Advice:</span></b> </span>
    {%for j in range(pres['Advice']|length)%}
    <span contenteditable="true">{{pres['Advice'][j].capitalize()[:-1]}}</span><br>
    {%endfor%}

  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="2" scope="col">Name</th>
        <th rowspan="2" scope="col">Days</th>
        <th colspan="2">Breakfast</th>
        <th colspan="2">Lunch</th>
        <th colspan="2">Dinner</th>
      </tr>
      <tr>
        <th>Before</th>
        <th>After</th>
        <th>Before</th>
        <th>After</th>
        <th>Before</th>
        <th>After</th>
      </tr>
    </thead>
    <tbody>
      {%for i in range(pres['Medicines']|length)%}
      <tr>
        <td className="editable">
          <input
            type="text"
            class="table-input"
            value="{{pres['Medicines'][i].capitalize()}}"
          />
        </td>
        <td className="editable">
          <input
            type="text"
            class="table-input"
            value="{{pres['Days'][i] + ' days'}}"
          />
        </td>
        <td>
          <input class="form-check-input" type="checkbox" value="" {{ "checked"
          if pres['Dose'][i][0] == 1 }}>
        </td>
        <td>
          <input class="form-check-input" type="checkbox" value="" {{ "checked"
          if pres['Dose'][i][1] == 1 }}>
        </td>
        <td>
          <input class="form-check-input" type="checkbox" value="" {{ "checked"
          if pres['Dose'][i][2] == 1 }}>
        </td>
        <td>
          <input class="form-check-input" type="checkbox" value="" {{ "checked"
          if pres['Dose'][i][3] == 1 }}>
        </td>
        <td>
          <input class="form-check-input" type="checkbox" value="" {{ "checked"
          if pres['Dose'][i][4] == 1 }}>
        </td>
        <td>
          <input class="form-check-input" type="checkbox" value="" {{ "checked"
          if pres['Dose'][i][5] == 1 }}>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="text-muted">Note: Everything is editable</p>

    <button onclick = "location.href = `/fprescription${generateQueryString()}`" class="btn btn-blue" id="submit">Generate Prescription</button></a>
</div>

{% endblock %}
